################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SGA/bin/Debug
/SGA/obj/Debug
/SGL/bin/Debug
/SGL/obj/Debug
/CRGPDB/obj/Debug
/.vs/DatabaseProject/v17
